<h1>POODLE</h1>

<%= form_for @search do |f| %>
    <%= f.label "Url" %>
    <%= f.text_field :url %><br />
    <%= f.submit 'POODLE SEARCH', :id => 'searchButton' %>
<% end %>

<br />

<div id="searchResults">
<% if @searches %>
	<% @searches.reverse_each do |search| %>
	<h2><strong><%= search.url %></strong></h2>
		<% search.results.each do |result| %>
			<p><%= link_to result.name, result.url %></p>
			<%= result.description %>
		<% end %>
	<% end %>
<% end %>
</div>

<div id="myForm">
  <%= render "bookmarks/form" %>
</div>

<!-- need to somehow not loop through the databse to get these results -->
<!-- all info still needs to be saved to the database -->
<!-- So it should be saved to a variable or something similar -->
